/*Footer links*/
#footer-sitemap .menu-item-has-children{
    margin-left: -2px;
       margin-right: -2px;
       margin-top: 30px;
       padding-left: 15px;
       padding-right: 15px;
       width: 16.7777%;
       display: inline-block;
       vertical-align: top;
       
   }
   #footer-sitemap .menu-item-has-children a{
        color: #fea33d;
       font-size: 17px;
       font-weight: 600;
       margin-bottom: 5px;    
   }
   #footer-sitemap .sub-menu li{
       border-bottom: 1px solid rgba(255, 255, 255, 0.17);
       padding: 11px 0;    
   }
   
   #footer-sitemap .sub-menu li a {
       color: rgba(255, 255, 255, 0.9);
       display: block;
       font-size: 14px;
       line-height: 16px;
       text-decoration: none;
       font-weight: normal;
   }
   #footer-sitemap .sub-menu li:hover a{color:#fea33d}
   /*Home page slide show*/
   #slides a:link, #slides a:visited {color:#fff;margin-top: 34px;}
   #slides.design-2 .slider-short-content p{padding: 82px;}
   
   #side-site-map .menu-item-has-children{
       color:#ffffff;
       text-decoration: none;	
   }
   .category-blog footer{margin:10px 0;}
.category-blog footer a{margin-left:2px; color: #000;font-weight: bold;}
.row-footer >ul > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-4343 > a {
    /* color: #fea33d;
     font-size: 17px;
     font-weight: 600;
     margin-bottom: 5px;
     text-decoration: none;*/
     display:none;
 
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 html,
 p,
 ul {
     margin: 0;
     padding: 0;
     list-style-type: none
 }